body {
    margin: 0px;
    font-size: 1rem;
    text-align: left;
    background-color: hsl(204, 43%, 93%);
}

h1 {
    color: #2BB3B1;
}

h2 {
    color: white;
}

p {
    color: white;
}

.sub-titulo {
    color: #BFDF32;
    font-size: 1.2rem;
}

.texto-inicial {
    color: #CED6DB;
    width: 100%;
    margin: auto;
    font-size: 1.04rem;
}

.btn {
    background-color: #BFDF32;
    color: white;
    font-size: 1rem;
    padding: 6px 70px;
    text-decoration: none;
    border: 1px solid #BFDF32;
    border-radius: 4px;
    margin-left: 25px;
    transition: all 0.3s;
}

.btn:hover {
    background-color: white;
    color: #BFDF32;
}

.top{
    background-color: white;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 5px;
    position: relative;
    width: 542px;
    margin: auto;
}

.mid {
    background-color: #2BB3B1;
    display: inline-block;
    padding: 20.5px 30px 19px 20px;
    position: relative;
    bottom: 5px;
    left: 487px;
    height: 150px;
    width: 231px;
    font-size: 0.95rem;
}

.bot {
    background-color: #4ABEBD;
    display: inline-block;
    line-height: 1.25rem;
    padding: 20.5px 30px 19px 20px;
    position: relative;
    bottom: 0.2px;
    left: 483px;
    right: 2px;
    height: 150px;
    width: 231px;
    font-size: 0.85rem;
}