body {
    font-size: 1rem;
    text-align: center;
    background-color: hsl(204, 43%, 93%);
}

.top{
    background-color: white;
    padding-bottom: 20px;
    margin: 15px auto 15px auto;
}

.mid {
    background-color: #2BB3B1;
    display: inline-block;
    padding: 20px;
    position: relative;
    height: 150px;
    width: 230px;
}

.bot {
    background-color: #4ABEBD;
    display: inline-block;
    line-height: 1.25rem;
    padding: 20px 20px 20px 20px;
    position: relative;
    top: 5px;
    right: 4px;
    height: 150px;
    width: 230px;
}